# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Dades grans (opcional)
data/

# Entorns
venv/
.env

## Arxius auxiliars de LaTeX (Generals)
*.aux
*.log
*.out
*.toc
*.pdfsync
*.synctex.gz
*.blg
*.bbl
*.tmp

## Arxius específics de Beamer
*.nav
*.snm
*.vrb

## Altres arxius temporals comuns
*.fdb_latexmk
*.fls
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.bcf
*.run.xml

## Arxius de figures generats (si uses tikz/externalize)
*.dpth
*.md5